<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-L/tgI3wSsbb3f/nW9V6Yqlaw3Gj7mpE56LWrhew/c8MIhAYWZ/FNirA64AVkB5pI"
    crossorigin="anonymous">
  <title>Simple voter</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h2>Vote for your favorite topics for the talk</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-6">
        <h3>Description</h3>
      </div>
      <div class="col-xs-3 col-md-2">
        <h3>Upvote</h3>
      </div>
      <div class="col-xs-3 col-md-2">
        <h3>Downvote</h3>
      </div>
      <div class="col-xs-2 col-md-2">
        <h3>
          Score <span class="glyphicon glyphicon-arrow-down"></span>
        </h3>
      </div>
    </div>
    {{#topics}}
    <div class="row">
      <div class="col-xs-4 col-md-6">{{ title }}</div>
      <div class="col-xs-3 col-md-2">
        <a href="/{{_id}}/up"  class="btn btn-success" aria-label="Left Align">
          <span class="glyphicon  glyphicon-thumbs-up" aria-hidden="true"></span> {{ upvotes }}
        </a>
      </div>
      <div class="col-xs-3 col-md-2">
        <a href="/{{_id}}/down"  class="btn btn-danger" aria-label="Left Align">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{ downvotes }}
        </a>
      </div>
      <div class="col-xs-2 col-md-2">{{ score }}</div>
    </div>
    <div class="row">
      <hr />
    </div>
    {{/topics}}
  </div>
</body>

</html>
